& {
  /* Buttons */
  --button-danger: hsla(351, 74%, 73%, 1.00);
  --button-danger-border: hsla(230, 19%, 26%, 1.00);
  --button-danger-hover: hsla(266, 34%, 83%, 1.00);
  --button-danger-text: hsla(232, 24%, 18%, 1.00);

  --button-primary: hsla(171, 47%, 69%, 1.00);
  --button-primary-border: hsla(230, 19%, 26%, 1.00);
  --button-primary-hover: hsla(211, 55%, 84%, 1.00);
  --button-primary-text: hsla(232, 24%, 18%, 1.00);

  --button-secondary: hsla(231, 16%, 34%, 1.00);
  --button-secondary-border: hsla(230, 19%, 26%, 1.00);
  --button-secondary-hover: hsla(230, 14%, 42%, 1.00);
  --button-secondary-text: hsla(227, 68%, 88%, 1.00);

  /* Header */
  --header-background: hsla(232, 24%, 18%, 1.00);
  --header-icon: hsla(227, 68%, 88%, 1.00);
  --header-icon-primary: hsla(171, 47%, 69%, 1.00);
  --header-text: hsla(227, 68%, 88%, 1.00);
  --header-text-important: hsla(105, 48%, 72%, 1.00);
  --header-user-background: hsla(171, 47%, 69%, 1.00);
  --header-user-text: hsla(232, 24%, 18%, 1.00);

  /* Panels */
  --panel-background: hsla(232, 24%, 18%, 1.00);
  --panel-background-alt: hsla(233, 23%, 15%, 1.00);
  --panel-background-selected-row: hsla(230, 19%, 26%, 1.00);
  --panel-background-overlay: hsla(233, 23%, 15%, 1.00);
  --panel-background-poster-overlay: hsla(233, 23%, 15%, 1.00);
  --panel-background-transparent: hsla(232, 24%, 18%, 1.00);
  --panel-border: hsla(230, 19%, 26%, 1.00);
  --panel-icon: hsla(227, 68%, 88%, 1.00);
  --panel-icon-action: hsla(171, 47%, 69%, 1.00);
  --panel-icon-danger: hsla(351, 74%, 73%, 1.00);
  --panel-icon-important: hsla(105, 48%, 72%, 1.00);
  --panel-icon-warning: hsla(40, 70%, 78%, 1.00);
  --panel-input: hsla(233, 23%, 15%, 1.00);
  --panel-menu-item-background: hsla(230, 19%, 26%, 1.00);
  --panel-menu-item-background-hover: hsla(231, 16%, 34%, 1.00);
  --panel-menu-item-text: hsla(227, 68%, 88%, 1.00);
  --panel-table-header: hsla(233, 23%, 15%, 1.00);
  --panel-tags: hsla(231, 16%, 34%, 1.00);
  --panel-text: hsla(227, 68%, 88%, 1.00);
  --panel-text-danger: hsla(351, 74%, 73%, 1.00);
  --panel-text-important: hsla(105, 48%, 72%, 1.00);
  --panel-text-other: hsla(267, 83%, 80%, 1.00);
  --panel-text-primary: hsla(171, 47%, 69%, 1.00);
  --panel-text-warning: hsla(40, 70%, 78%, 1.00);
  --panel-toggle-background: hsla(230, 19%, 26%, 1.00);
  --panel-toggle-background-alt: hsla(231, 16%, 34%, 1.00);
  --panel-toggle-background-hover: hsla(231, 16%, 34%, 1.00);
  --panel-toggle-text: hsla(227, 68%, 88%, 1.00);
  --panel-toggle-text-alt: hsla(227, 27%, 72%, 1.00);

  /* Sliders */
  --slider-background: hsla(230, 19%, 26%, 1.00);
  --slider-background-alt: hsla(231, 16%, 34%, 1.00);
  --slider-color: hsla(171, 47%, 69%, 1.00);
  --slider-color-alt: hsla(171, 47%, 69%, 1.00);

  /* Top Navigation */
  --topnav-background: hsla(233, 23%, 15%, 1.00);
  --topnav-border: hsla(230, 19%, 26%, 1.00);
  --topnav-icon: hsla(227, 68%, 88%, 1.00);
  --topnav-icon-important: hsla(105, 48%, 72%, 1.00);
  --topnav-icon-primary: hsla(171, 47%, 69%, 1.00);
  --topnav-icon-warning: hsla(40, 70%, 78%, 1.00);
  --topnav-text: hsla(227, 68%, 88%, 1.00);
  --topnav-text-primary: hsla(171, 47%, 69%, 1.00);
}

#settings-background {
  display: none;
}
